body{
    background-color: #DADADA;
    max-width: 390px;
    margin: auto;
}
a{
    text-decoration: none;
}
.Container{
    background-color: white;
}
.TopBar{
    background-color: #47A3F9;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.TopBar img{
    width: 25px;
    margin-bottom: 10px;
}
.TopBar img:nth-child(3){
    width: 20px;
    opacity: 50%;
}
.TopBar textarea{
    padding: 5px 15px;
    border-radius: 10px;
    resize: none;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.SearchIcon{
    position: absolute;
    right: 41%;
    top: 5%;
}
.Title{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.Option{
    padding: 0px 20px;
}
.Space{
    padding-bottom: 10px;
}
.SpaceLast{
    padding-bottom: 20px;
}
.Divider{
    height: 1px;
    background-color: #DADADA;   
}
.Wrap{
    padding: 0px 20px 20px 20px;
}
.Logout{
    background-color: #DADADA;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}